.login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--tangerine-950);
    color: var(--stone-500);
    overflow: hidden;
}

.login_l,
.login_r {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-md);
    text-align: center;
}

.login_l {
    display: flex;
    background: var(--tangerine-900);
    padding: var(--padding-md);
    z-index: 10;
}

.login_r {
    display: none;
    z-index: 1;
}

.title {
    padding: var(--padding-sm);
}

.title h4 {
    color: var(--stone-100);
}

form {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: var(--gap-sm);
    border-radius: 5px;
    padding: var(--padding-md);
    background-color: var(--tangerine-950);
    color: var(--stone-600);
}

input {
    padding: var(--space-xxs);
    border: 2px solid var(--tangerine-500);
    border-radius: 8px;
    font-size: clamp(0.6rem, 0.7rem + 0.375vw, 1rem);
    color: var(--stone-500);
    margin: none;
}


input:focus {
    outline: none;
    background-color: var(--tangerine-100);
    color: var(--tangerine-950);
}

label {
    font-size: clamp(0.5rem, 0.640rem + 0.2vw, 0.875rem);
}

button {
    width: 100%;
}

.ctas {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 1rem;
    width: 100%;
}

@media (min-width:768px) {
    .login_r {
        display: flex;
    }
}